.about {
	display: flex;
	font-family: Georgia, 'Times New Roman', Times, serif;
	
}

.about-box {
	display: flex;
	width: 50%;
	margin: 0 20px 0 20px;
	font-size: 15px;
	border: 1px solid white;
	margin: 10px;
}

.about-box > img {
	width: 200px;
	height: 200px;
}

.about-text {
	text-align: justify;
	padding: 10px;
	margin: 0;
}

@media (max-width: 768px) {
	.about {
		display: block;
	}
	.about-box {
		width: 100%;
		margin-left: 10px;
	}
  }