.App {
  text-align: center;
}

.top-nav-bar {
  margin: 0 auto;
  border-bottom: 1px solid white;
  width: 100%;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header { 
  /* background-color: #282c34;  */
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), 
    url(./images/homepage/home1.jpg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* position: fixed; */
}

.venues-container {
  /* width: calc(100vw - 10%); */
  display: inline-block;
  height: 100vh;
  overflow-y: scroll;
}

.venues-header {
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-logo {
  /* height: 150px; */
  width: 300px;
  pointer-events: none;
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 00.5em;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  border-top: 1px solid white;
  padding: 5px 0;
}